/node_modules
/vendor
/tools/fig-extract/node_modules
.env
/public/build
/public/hot
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.phpunit.cache
Thumbs.db
